<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.freeankit.rxjava2samples">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.SelectionActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.OperatorsActivity" />
        <activity android:name=".ui.operators.SimpleOperatorActivity" />
        <activity android:name=".ui.operators.MapOperatorActivity" />
        <activity android:name=".ui.operators.ZipOperatorActivity" />
        <activity android:name=".ui.operators.DisposableOperatorActivity" />
        <activity android:name=".ui.operators.TakeOperatorActivity" />
        <activity android:name=".ui.operators.TimerOperatorActivity" />
        <activity android:name=".ui.operators.FlatMapOperatorActivity" />
        <activity android:name=".ui.operators.IntervalOperatorActivity" />
        <activity android:name=".ui.operators.DebounceOperatorActivity" />
        <activity android:name=".ui.operators.SingleObserverOperatorActivity" />
        <activity android:name=".ui.operators.CompletableObserverOperatorActivity" />
        <activity android:name=".ui.operators.FlowableOperatorActivity" />
        <activity android:name=".ui.operators.ReduceOperatorActivity" />
        <activity android:name=".ui.operators.BufferOperatorActivity" />
        <activity android:name=".ui.operators.FilterOperatorActivity" />
        <activity android:name=".ui.operators.SkipOperatorActivity" />
        <activity android:name=".ui.operators.ScanOperatorActivity" />
        <activity android:name=".ui.operators.ReplayOperatorActivity" />
        <activity android:name=".ui.operators.ConcatOperatorActivity" />
        <activity android:name=".ui.operators.MergeOperatorActivity" />
        <activity android:name=".ui.operators.DeferOperatorActivity" />
        <activity android:name=".ui.operators.DistinctOperatorActivity" />
        <activity android:name=".ui.operators.ReplaySubjectOperatorActivity" />
        <activity android:name=".ui.operators.PublishSubjectOperatorActivity" />
        <activity android:name=".ui.operators.BehaviorSubjectActivity" />
    </application>

</manifest>