<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.freeankit.rxjava2samples">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.SelectionActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.OperatorsActivity" />
        <activity android:name=".ui.operators.SimpleOperatorActivity" />
        <activity android:name=".ui.operators.transformingOperators.MapOperatorActivity" />
        <activity android:name=".ui.operators.combiningOperators.ZipOperatorActivity" />
        <activity android:name=".ui.operators.DisposableOperatorActivity" />
        <activity android:name=".ui.operators.filteringOperators.TakeOperatorActivity" />
        <activity android:name=".ui.operators.TimerOperatorActivity" />
        <activity android:name=".ui.operators.transformingOperators.FlatMapOperatorActivity" />
        <activity android:name=".ui.operators.creatingOperators.IntervalOperatorActivity" />
        <activity android:name=".ui.operators.filteringOperators.DebounceOperatorActivity" />
        <activity android:name=".ui.operators.SingleObserverOperatorActivity" />
        <activity android:name=".ui.operators.CompletableObserverOperatorActivity" />
        <activity android:name=".ui.operators.FlowableOperatorActivity" />
        <activity android:name=".ui.operators.mathematicalOperators.ReduceOperatorActivity" />
        <activity android:name=".ui.operators.transformingOperators.BufferOperatorActivity" />
        <activity android:name=".ui.operators.filteringOperators.FilterOperatorActivity" />
        <activity android:name=".ui.operators.filteringOperators.SkipOperatorActivity" />
        <activity android:name=".ui.operators.transformingOperators.ScanOperatorActivity" />
        <activity android:name=".ui.operators.connectableOperators.ReplayOperatorActivity" />
        <activity android:name=".ui.operators.mathematicalOperators.ConcatOperatorActivity" />
        <activity android:name=".ui.operators.combiningOperators.MergeOperatorActivity" />
        <activity android:name=".ui.operators.creatingOperators.DeferOperatorActivity" />
        <activity android:name=".ui.operators.filteringOperators.DistinctOperatorActivity" />
        <activity android:name=".ui.operators.connectableOperators.ReplaySubjectOperatorActivity" />
        <activity android:name=".ui.operators.connectableOperators.PublishSubjectOperatorActivity" />
        <activity android:name=".ui.operators.BehaviorSubjectActivity" />
        <activity android:name=".ui.operators.AsyncSubjectOperatorActivity" />
        <activity android:name=".ui.operators.ThrottleFirstOperatorActivity" />
        <activity android:name=".ui.operators.ThrottleLastOperatorActivity" />
        <activity android:name=".ui.operators.transformingOperators.WindowOperatorActivity" />
        <activity android:name=".ui.operators.utilityOperators.DelayOperatorActivity" />
    </application>

</manifest>